<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	<meta charset="utf-8">
	<title>Bomi.com Join</title>
	<style>
			table, th, td {
			   border: 1px solid black;
			   border-collapse: collapse;
			}
			th, td {
			   padding: 5px;
			}
			a { text-decoration:none }
		</style>
	<script src="/js/trim.js"></script>
	<script language="javascript">
		    function check(){
				var namevalOld = f.mb_name.value;
				nameval = trim(namevalOld);
				if(nameval.length == 0){
					alert("이름을 넣어주세요");
					f.mb_name.value = "";
					f.mb_name.focus();
					return false;
				}else{
					pass = checkByteLen(namevalOld, 10);
					if(!pass){
						alert("이름이 너무 길어요");
						f.mb_name.focus();
						return false;
					}
				}
				var emailvalOld = f.mb_email.value;
				emailval = trim(emailvalOld);

				if(emailval.length == 0){
					alert("주소를 넣어주세요");
					f.mb_email.value = "";
					f.mb_email.focus();
					return false;
				}else{
					pass = checkByteLen(emailvalOld, 20);
					if(!pass){
						alert("주소가 너무 길어요");
						f.mb_email.focus();
						return false;
					}
				}

				f.submit();
			}

		    function checkByteLen(str, size){
		        var byteLen = getByteLen(str);
				if(byteLen <= size){
					return true;
				}else{
					return false;
				}
			}
			function getByteLen(str){
			   return str.replace(/[\0-\x7f]|([0-\u07ff]|(.))/g,"$&$1$2").length;
		    }

			function enterCheck(elm){
				console.log("1111");
				if(event.keyCode == 13){
					console.log("222");
					if(elm == f.name){
						console.log("3333");
						f.mb_email.focus();
					}else{
						console.log("4444");
						check();
					}
				}
			}
		</script>
</head>

<body onload="document.f.name.focus()">
<center>
	<h1>
		보미닷컴
	</h1>
	<form name="f" th:unless="${member}" th:action="@{join}" method="post">
		<table border="1" width="300" height="200">
			<tr>
				<td width="30%" colspan="2" align="center"><h2>회원가입</h2></td>
			</tr>
			<tr>
				<th width="30%">이름</th>
				<td><input name="mb_name" align="center" size="20" onkeydown="enterCheck(this)"></td>
			</tr>
			<tr>
				<th width="30%">이메일</th>
				<td><input name="mb_email" size="20" align="center" onkeydown="enterCheck(this)"></td>
			</tr>
			<tr>
				<th width="30%">비밀번호</th>
				<td><input name="mb_password" size="20" align="center" onkeydown="enterCheck(this)"></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="button" value="전송" onclick="check()"/>
					<input type="reset" value="취소"/>
				</td>
			</tr>
		</table>
	</form>
	<form name="f" th:if="${member}" th:action="@{|update?mb_seq=${member.mb_seq}|}" method="post">
		<table border="1" width="300" height="200">
			<tr>
				<td width="30%" colspan="2" align="center"><h2>회원정보수정</h2></td>
			</tr>
			<tr>
				<th width="30%">이름</th>
				<td><input name="mb_name" align="center" th:value=${member.mb_name} size="20" onkeydown="enterCheck(this)" ></td>
			</tr>
			<tr>
				<th width="30%">이메일</th>
				<td><input name="mb_email" size="20" th:value=${member.mb_email} align="center" onkeydown="enterCheck(this)"></td>
			</tr>
			<tr>
				<th width="30%">비밀번호</th>
				<td><input name="mb_password" size="20"  align="center" onkeydown="enterCheck(this)"></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="button" value="수정" onclick="check()"/>
					<input type="reset" value="취소"/>
				</td>
			</tr>
		</table>
	</form>
</center>
</body>
</html>