<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tn.camepofico.mapper.JhPostMapper">
    <resultMap id="member" type="Member">
        <id property="mb_seq" column="MB_SEQ"/>
        <id property="mb_name" column="MB_NAME"/>
        <id property="mb_email" column="MB_EMAIL"/>
        <id property="mb_password" column="MB_PASSWORD"/>
        <id property="mb_rdate" column="MB_RDATE"/>
        <id property="mb_udate" column="MB_UDATE"/>
    </resultMap>
    <resultMap id="pocategory" type="Pocategory">
        <id property="pc_seq" column="PC_SEQ"/>
        <id property="pc_name" column="PC_NAME"/>
    </resultMap>
    <resultMap id="post" type="Post">
        <id property="ps_seq" column="PS_SEQ"/>
        <id property="ps_subject" column="PS_SUBJECT"/>
        <id property="ps_content" column="PS_CONTENT"/>
        <id property="ps_rdate" column="PS_RDATE"/>
        <id property="ps_udate" column="PS_UDATE"/>
        <id property="file_count" column="FILE_COUNT"/>
        <id property="comment_count" column="COMMENT_COUNT"/>
        <collection property="member" resultMap="member"/>
        <collection property="pocategory" resultMap="pocategory"/>
    </resultMap>
    <select id="listAll" resultMap="post">
        select * from (select * from POST p join Member m on p.PS_MB_SEQ=m.MB_SEQ) p2 join POCATEGORY pc on p2.PS_PC_SEQ=pc.PC_SEQ
    </select>
<!--    <insert id="insert" parameterType="Post">-->
<!--        <selectKey resultType="long" keyProperty="pc_seq" order="BEFORE">-->
<!--            select POST_SEQ.nextval from dual-->
<!--        </selectKey>-->
<!--        insert into POST values(#{ps_seq},#{ps_subject},#{ps_content},SYSDATE, SYSDATE, #{member.mb_seq},#{pocategory.pc_seq})-->
<!--    </insert>-->
<!--    <select id="list" resultMap="post">-->
<!--        select * from POST-->
<!--    </select>-->
</mapper>