<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Title</title>
		<style>
			table, th, td {
			   border: 1px solid black;
			   border-collapse: collapse;
			}
			th, td {
			   padding: 5px;
			}
			a { text-decoration:none }
		</style>
		<script src="/js/trim.js"></script>
		<script language="javascript"> 
		    function check(){
				var mb_emailvalOld = f.pc_name.value;
				mb_emailval = trim(mb_emailvalOld);
				if(mb_emailval.length == 0){
					alert("정신차려~ 뭐안쓰냐고");
					f.pc_name.value = "";
					f.pc_name.focus();
					return false;
				}else{
					pass = checkByteLen(mb_emailvalOld, 30);
					if(!pass){
						alert("너무 길잖아~");
						f.pc_name.focus();
						return false;
					}
				}

		
				f.submit();
			}
		
		    function checkByteLen(str, size){
		        var byteLen = getByteLen(str);
				if(byteLen <= size){
					return true;
				}else{
					return false;
				}
			}
			function getByteLen(str){
			   return str.replace(/[\0-\x7f]|([0-\u07ff]|(.))/g,"$&$1$2").length;
		    }
			
			function enterCheck(elm){
				if(event.keyCode == 13){
					if(elm == f.pc_name){
						f.mb_password.focus();
					}else{
						check();
					}
				}
			}
		</script>
	</head>

	<body onload="document.f.pc_name.focus()">
	<center>
	   <h1>
			보미닷컴
	   </h1>
	   <form name="f" th:action="@{|catUpdate?pc_seq=${cat.pc_seq}|}" method="post">
		   <table border="1" width="300" height="200">
			  <tr>
				 <td width="30%" colspan="2" align="center"><h2>카테추가</h2></td>
			  </tr>
			  <tr>
				 <th width="30%">이름</th>
				 <td><input name="pc_name" align="center" th:value="${cat.pc_name}" size="20" onkeydown="enterCheck(this)"></td>
			  </tr>
			  <tr>
				 <td colspan="2" align="center">
					 <input type="button" value="전송" onclick="check()"/>
					 <input type="reset" value="취소"/>
				 </td> 
			  </tr>
		   </table>
	   </form>
	</center>
	</body>
</html>